body {
  background-color: #b24080;
  color: white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

h2 {
  color: #f9b208;
}

.container {
  display: flex;
  justify-content: center;
}

.modal {
  font-size: 3rem;
  color: #ff7878;
  width: 300px;
  height: 300px;
  display: none;
  background-color: aqua;
  border-radius: 15%;
  position: absolute;
  margin-top: 4rem;
  text-align: center;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.restart {
  padding: 1em;
  border-radius: 5%;
  font-weight: bold;
  color: #558776;
  font-size: large;
  background-color: #b5eaea;
}

.restart:hover {
  background-color: #b8dfd8;
  cursor: pointer;
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */
